<?php
  // setup database connection
  $servername = "<%= @db_host %>";
  $username = "<%= @db_user %>";
  $password = "<%= @db_password %>";
  $dbname = "<%= @db_name %>";

  $mysqli = new mysqli($servername, $username, $password, $dbname);

  if (mysqli_connect_errno()) {
    die("mysqliection failed: " . $mysqli->mysqliect_error);
  }

  //generate random number to use is sql query
  $rand = rand(1, 10);

  $sql = "SELECT * FROM jokes WHERE id = '$rand' LIMIT 1";
  $result = $mysqli->query($sql);

  if ($result->num_rows == 0) {
    $output = 'Sorry there are no jokes';
  } else {
    $row = $result->fetch_row();
    $output = $row[1];
  }

  $mysqli->close();
?>
<html>
  <head>
    <title><%= @site_name %></title>
    <style type="text/css">
      body {
        font-family: Consolas, Monaco, Courier New, Courier, monospace;
        font-size: 18px;
        background-color: #f9f9f9;
        border: 10px solid #D0D0D0;
        color: #002166;
        margin: 0 0 14px 0;
        padding: 12px 15px 12px 10px;
      }

    a {
        color: #003399;
        background-color: transparent;
        font-weight: normal;
      }

    h1 {
        color: #444;
        background-color: #90AFBC;
        font-size: 22px;
        font-weight: normal;
        margin: 0 0 14px 0;
        padding: 12px 15px 12px 10px;
    }

    p.refresh {
      font-size: 18px;
      padding: 10px 0 0 0;
      margin: 20px 0 0 0;
    }

    footer {
      text-align: left;
      font-size: 11px;
      border-top: 1px solid #D0D0D0;
      line-height: 18px;
      padding: 10px 0 0 10px;
      margin: 100px 0 0 0;
    }
  </style>
  </head>
  <body>
    <h1>A randomly selected joke</h1>
    <h2>Joke <?= $rand ?></h2>
      <p><?= $output ?></p>
      <p class='refresh'>Hit refresh...</p>
    <footer>
      <p>Swift Mammoth @ <a href="https://github.com/swift-mammoth/simple_lamp">github.com</a></p>
      <p>Z @ <a href="mailto:ziyaad.khan@gmail.com">busta_z@gmail.com</a></p>
    </footer>
  </body>
</html>